.ManageNotesFeature {
  width: 100%;

  @include display_flex_column;

  gap: 16px;

  &__header {
    width: 100%;

    @include display_flex_row_space_between;

    gap: 16px;
  }

  &__heading {
    color: $color_text_primary;
  }

  &__cellText {
    color: $color_text_secondary;

    font-size: 14px;
    line-height: 20px;
    overflow-wrap: anywhere;
  }

  //-----------

  &__cellText--title {
    color: $color_text_primary;

    font-family: $font_family_base;
    font-weight: $font_weight_bold;
  }

  &__cellText--muted {
    color: $color_gray;

    font-size: 12px;
  }
}
